<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Results</title>
    <style>
	  table {
            border-collapse: collapse;
            width: 100%;
            border: 2px solid #dddddd; /* Border around the entire table */
        }

        th, td {
            border: 1px solid #dddddd; /* Borders around each cell */
            text-align: left;
            padding: 8px;
        }

        /* Add spacing between columns */
        td:not(:last-child) {
            padding-right: 20px;
        }
    </style>
</head>
<body>
    <h1>Meals in Database</h1>
        <!-- Search Box -->
    <form action="/" method="get">
        <label for="search">Search Meal:</label>
        <input type="text" id="search" name="search" placeholder="Enter Meal">
        <label for="date">Search Date:</label>
        <input type="date" id="date" name="date" placeholder="Enter Date">
        <button type="submit">Filter</button>
    </form>
    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Units</th>
            <th>Meal</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for user in inject %}
	<tr>
            <td>{{ user[0] }}</td>
	    <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
	</tr>    
        {% endfor %}
	<!-- Add more rows as needed -->
    </tbody>
    </table>
</body>
</html>
